@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');


body{
    max-width: 90rem;
    margin: 0 auto;
}
header{
    background: black;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
nav a{
    padding: 2rem;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    color: white;
}

h1, h2, h3, h4, a{
    font-family: 'Roboto Mono';
    color: white;
}

p, span{
    font-family: 'Roboto';
    color: white;
}
main{
    min-height: 75vh;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;  
}
.grid-container > div{
    padding: 0.5rem;
    background-color: black;
}
.grid-container img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.panier{
    padding: 2rem;
    background: #ebebeb;
}
.panier h1{
    font-weight: 900;
    margin-top: 0;
    background: white;
    width: fit-content;
    padding: 0.5rem 1rem;
    color: black;
}
form{
    padding: 2rem;
    width: 100%;
}
form div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}
form input{
    outline: none;
    border: none;
    padding: 1rem;
    background: black;
    color: white;
    border-radius: 0.25rem;
    font-family: 'Courier New', Courier, monospace;
}

form input::placeholder{
    color: white;
}
input[type="submit"]{
    cursor: pointer;
}

input[type="submit"]:hover{
    background: #333333;
}

.delete{
    background: #333333;
    padding: 0.5rem 1rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.panier > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos a {
    padding: 0.75rem 0.75rem 0.75rem 0;
    color: white;
}

footer {
    padding: 1rem;
    background: black;
}

footer h2 {
    color: white;
}
.infos a {
    padding: 0.75rem 0.75rem 0.75rem 0;
    color: white;
}

footer {
    padding: 1rem;
    background: black;
}

footer h2 {
    color: white;
}


section.checkout {
    display: flex;
    align-items: center;
    justify-content: center;
}
.totalContainer{
    font-size: 2rem;
    
}
.totalContainer h4{
    margin-bottom: 0;
    color: black;
    background: white;
    padding: .5rem;
    width: fit-content;
    width: -moz-fit-content;
}
.totalContainer h4 span{
    color: black;
}

@media screen and (max-width: 1030px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 650px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
}